:root {
  --nexus-primary: #1890ff;
  --el-color-primary: var(--nexus-primary);
  --el-color-primary-light-3: #4da6ff;
  --el-color-primary-light-5: #7abaff;
  --el-color-primary-light-7: #a7cfff;
  --el-color-primary-light-9: #d3e9ff;
  --el-color-primary-dark-2: #0f72cc;
}
